.big {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  margin-left: 100px;
  margin-right: 100px;
  box-sizing: border-box;
  gap: 40px;
}
body{
    background: #60605e;
}
.wrapper {
  width: 190px;
  padding: 12px;
  background: #000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  cursor: pointer;
}

.wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
  z-index: -1;
}

.wrapper:hover::after {
  filter: blur(30px);
}

.wrapper:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.wrapper img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

.prName {
  color: white;
  text-align: center;
  font-weight: 700;
  line-height: 0;
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.wrapper p:not(.heading) {
  font-size: 14px;
}

.wrapper p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.price {
  color: white;
  gap: 20px;
  display: flex;
}

.prices {
  color: rgb(244, 237, 237);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  margin-bottom: -4px;
}

button {
  --glow-color: rgb(247, 240, 240);
  --glow-spread-color: rgba(34, 33, 34, 0.781);
  --enhanced-glow-color: rgb(239, 238, 240);
  --btn-color: rgb(100, 61, 136);
  border: 0.25em solid var(--glow-color);
  padding: 1em 1em;
  cursor: pointer;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 10px;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

button:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

.category {
  color: white;
  text-align: center;
  font-family: monospace;
}

.category span {
  color: red;
  font-size: 17px;
}
.wrapperD{
    display: flex;
    align-items:center;
    gap: 40px;
    border-radius:20px

}
.wrapperD img{
    width: 400px;
    border-radius:20px;
}
.categoryD{
    font-size: 40px;
    text-align: left;
}
.nameD{
    font-size: 70px;
    text-align: left;
}
.categoryD span{
   font-size: 40px;
}
.pricesD{
    text-align: center;
    color:aquamarine    
}
.priceD{
    width: 400px;
    margin-top: 20px;
    gap: 30px;
    text-align: center;
    justify-content: center;
}
.priceD button {
    width: 200px;
    height: 60px;
    margin-top: 10px;
}
.id{
    font-size:  30px;
    color:white
}
.backBtn{
    text-align: right;
    margin-left: 288px;
    display: flex;
    gap: 20px;
    font-size: 17px;
}
.wrpp{
    display:flex;
    flex-direction: column;
    justify-content: right;
}
@keyframes loader_5191 {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .square {
    background: #ddd;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
  }
  
  #sq1 {
    margin-top: -25px;
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 0s infinite alternate;
  }
  
  #sq2 {
    margin-top: -25px;
    animation: loader_5191 675ms ease-in-out 75ms infinite alternate;
  }
  
  #sq3 {
    margin-top: -25px;
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 150ms infinite;
  }
  
  #sq4 {
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 225ms infinite;
  }
  
  #sq5 {
    animation: loader_5191 675ms ease-in-out 300ms infinite;
  }
  
  #sq6 {
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 375ms infinite;
  }
  
  #sq7 {
    margin-top: 15px;
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 450ms infinite;
  }
  
  #sq8 {
    margin-top: 15px;
    animation: loader_5191 675ms ease-in-out 525ms infinite;
  }
  
  #sq9 {
    margin-top: 15px;
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 600ms infinite;
  }
  .select{
    width: 400px;
    background: #8ec904;
    text-align: left;
    color:white;
    margin-left: -480px;
    padding: 10px;
    border-radius:10px;
    font-size: 20px;
    height: 50px;
  }